<h2>Add Product</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="main.add()" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Image Url:</label>
                        <div class="col-lg-10">
                            <input ng-model="main.newProduct.image" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                            <input ng-model="main.newProduct.name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Fabric:</label>
                        <div class="col-lg-10">
                            <input ng-model="main.newProduct.fabric" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Filling</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select">
                                <option>buckwheat hulls</option>
                                <option>cotton batting</option>
                                <option>kapok</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPrice" class="col-lg-2 control-label">Price:</label>
                        <div class="col-lg-10">
                            <input ng-model="main.newProduct.price" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            <textarea ng-model="main.newProduct.description" class="form-control" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="/list" class="btn btn-primary">Cancel</a>
                            <input type="submit" class="btn btn-info" value="Save" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>


        <!--Edit preview-->
        <div class="row">
            <div class="col-md-6">
                <image ng-src="{{main.newProduct.image}}" />
            </div>
        </div>
    </div>
</div>