<div class="container-fluid deletePg">
    <div class="row">
        <div class="col-md-12">
            <p>! WARNING !<br />
            this product will be deleted from the database</p>
            <image ng-src="{{deleteC.product.image}}" /><br />
            <div>
                <a href="/list" class="btn" ng-click="deleteC.cancel()">no / cancel</a>
                <input ng-click="deleteC.remove()" type="button" class="btn" value="yes / delete" />
            </div>
        </div>
    </div>
</div>