<div class="container-fluid editPg">
    <h2>edit product</h2><br />
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="editC.edit()" class="form-horizontal">
                <fieldset>
                    <!--<div class="form-group">
                        <label class="col-sm-3 control-label">Inventory Date:</label>
                        <div class="col-sm-9">
                            <input ng-model="editC.product.inventoryDate" class="form-control" type="date" />
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Image Url:</label>
                        <div class="col-sm-9">
                            <input ng-model="editC.product.image" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="select" ng-model="editC.product.name">
                                <option>{{editC.product.name}}</option>
                                <option>Zafu</option>
                                <option>Zabouton</option>
                                <option>Mini-Zab</option>
                                <option>Neck Roll</option>
                                <option>Neck Pillow</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fabric:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="select" ng-model="editC.product.fabric">
                                <option>{{editC.product.fabric}}</option>
                                <option>print</option>
                                <option>solid</option>
                                <option>multi</option>
                            </select>                                                    
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Filling</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="select" ng-model="editC.product.filling">
                                <option>{{editC.product.filling}}</option>
                                <option>buckwheat hulls</option>
                                <option>cotton batting</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Price:</label>
                        <div class="col-sm-9">
                            <input ng-model="editC.product.price" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea ng-model="editC.product.description" class="form-control" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-3 col-sm-9">
                            <a href="/list" class="btn">Cancel</a>
                            <input type="submit" class="btn" value="Save Edits" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-6">
            <image ng-src="{{editC.product.image}}" />
        </div>
    </div>
</div>


