<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form ng-submit="loginC.login()" class="form-horizontal" role="form">
                <div class="form-group">

                    <label class="col-sm-3 control-label">
                        Email
                    </label>
                    <div class="col-sm-9">
                        <input type="email" ng-model="loginC.loginEmail" class=" form-control" />
                    </div>
                </div>
                <div class="form-group">

                    <label for="inputPassword" class="col-sm-3 control-label">
                        Password
                    </label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="loginC.loginPassword" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">

                            <label>
                                <input type="checkbox" /> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">

                        <input type="submit" class="btn btn-info" value="Login" />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
