
<div class="modal-header">
    <div style="display: inline-block">
        <img src="../img/SNPCLotusLogoLg.png" id="mjr-modalLogoLg" />
        <img src="../img/SNPCLotusLogoSm.png" id="mjr-modalLogoSm" />
</div>
    <button type="button" class="close" data-dismiss="modal" ng-click="loginC.cancel()"><i class="fa fa-times-circle fa-inverse"></i>
    </button>
</div>
<div class="modal-body">
    <div ng-if="loginC.template == '/ngViews/login.html'">
        <ng-include src="loginC.template" />
    </div>
</div>

