<h2>Register</h2>

<div class="container-fluid" ng-controller="RegisterController as main">
    <div class="row">
        <form ng-submit="main.register()" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">First Name:</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="main.newUser.firstName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Last Name:</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="main.newUser.lastName" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Email:</label>
                    <div class="col-lg-10">
                        <input type="email" ng-model="main.newUser.email" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Password:</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="main.newUser.password" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Confirm Password:</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="main.newUser.confirmPassword" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input type="submit" class="btn btn-info" value="Submit" />
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>







