<div class="container-fluid" ng-controller="RegisterController as main">
    <h2>register</h2>
    <div class="row">
        <form ng-submit="main.register()" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">first name:</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="main.newUser.firstName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">last name:</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="main.newUser.lastName" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">email:</label>
                    <div class="col-lg-10">
                        <input type="email" ng-model="main.newUser.email" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">password:</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="main.newUser.password" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">confirm password:</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="main.newUser.confirmPassword" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="min-height: 400px">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="/" class="btn">Cancel</a>
                        <input type="submit" class="btn" value="Submit" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>







