<html xmlns="http://www.w3.org/1999/xhtml" ng-app="StoreApp">
<head>
    <title>eStore</title>
    <base href="/" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-controller="MasterController as main">


    <!-- Partial Views Inserted Here -->
    <div class="container-fluid">
        <div ng-view class="view"></div>
    </div>










    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApps/app.js"></script>
    <script src="~/ngApps/controllers.js"></script>
</body>
</html>