<html xmlns="http://www.w3.org/1999/xhtml" ng-app="StoreApp">
<head>
    <title>eStore</title>
    <base href="/" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/ceruleanStyle.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-controller="HomeController as main">
    
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse" ng-controller="MenuController as menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/home">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="~/list">Product List <span class="sr-only">(current)</span></a></li>
                </ul>

                <!-- Login/Register/Admin links -->
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="menu.isAdmin()"><a href="~/add">Admin<span class="sr-only">(current)</span></a></li>
                    <li ng-if="!menu.showLogin()"><a href="~/register">Register</a></li>
                    <li ng-if="!menu.showLogin()"><a href="~/login">Log in</a></li>
                    <li ng-if="menu.showLogin()"><a ng-click="menu.logout()">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Partial Views Inserted Here -->
    <div class="container-fluid">
        <div ng-view class="view"></div>
    </div>












    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApps/app.js"></script>
    <script src="~/ngApps/controllers.js"></script>
</body>
</html>