/*<<=== HTML ELEMENTS ===>>*/

* {
    font-family: 'Roboto-condensed', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

body {

}

h2 {
    padding-bottom: 10px;
    padding-left: 20px;
}

img {
    width: 300px;
}

/*label {
    font-size: 18px;
}*/

tbody img {  /*resizes product list table images*/
    width: 200px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*<<=== ID's ===>>*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.mjr-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
}


/*<<=== CLASSES ===>>*/



/*<<=== OTHER ===>>*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}