<!--<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Filter:
        </label>
        <div class="col-sm-10">
            <input type="text" class=" form-control" ng-model="userFilter" />
        </div>
    </div>
</form>-->

<div class="container-fluid">
    <h2>registered users</h2>
    <table ng-cloak="true" class="table table-responsive">
        <thead>
            <tr>
                <th></th>
                <th ng-click="sortBy='firstName'; reverse=!reverse">first name</th>
                <th ng-click="sortBy='lastName'; reverse=!reverse">last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userC.users | filter:userFilter | orderBy:sortBy:reverse">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <a href="/details/{{userList.user.id}}">details</a>
                    <a href="/edit/{{userList.user.id}}" ng-show="listC.isAdmin()"> | edit</a>
                    <a href="/delete/{{userList.user.id}}" ng-show="listC.isAdmin()"> | delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

